.web img{
	position:absolute;
	left:35%;
	top:27.5%;
	height:70%;
	border-radius:4px;
}

.card{
	position:absolute;
	border:2px solid rgba(112, 128, 144, 0.525);
	border-radius:2px;
	height:10%;
	top:16%;
	left:35%;
	width:22.5%;
	overflow-y:clip;
}
.card * {
	text-align:center;
}
.maintxt *:hover{
	overflow-y:scroll;
}

.textpreviews{
	position:absolute;
	display:flex;
	justify-content:flex-start;
	flex-direction:column;
	left:74%;
	height:38%;
	bottom:1%;
	width:25%;
}

.textpreviews >div{
	border:2.5px solid rgba(112, 128, 144, 0.525);
	border-radius:2px;
	overflow-y:clip;
	left:74%;
	height:1%;
}

.nexttxt *{
	/*color:red;*/
	height:1%;
}

.prevtxt *{
	/*color:blue;*/
	height:1%;
}

.textpreviews div{
	flex-shrink:4;
	flex-grow:1;
}

.textpreviews div:hover{
	flex-shrink:1;
	flex-grow:4;
}

a{
	text-decoration:none;
	color:black;
}


@media screen and (max-width:780px) {
	.web img{
	display:none;
	}
}