* {
    margin:0%;
    padding:0%;
    font-family: 'Courier New', Courier, monospace;
}
body{    
    background-color: rgba(250, 235, 215, 0.7);
}

.heading  {
    display: inline-block;
    align-items: center;
    width:95%;
    position:relative;
    right:-5%;
    height: 2.5em;
    font-size: 3em;
    background-color:rgba(47, 79, 79, 0.5);
    color:lemonchiffon;
    border-radius:5px;
    
}

ul.menu a{
    list-style-type:armenian;
    font-size: 1.5em;
    text-decoration:none;
    color:darkslategrey;
}
/*
ul.menu a:hover {
    border: 2px solid red;
    border-radius:5px;
}
*/
ul.menu a:hover {
    border: 2px solid gold;
    border-radius:5px;
}
ul.menu a:active{
    border: 2px solid lime;
    border-radius:5px;
}

/*body.css*/
.backcard img{
	position:absolute;
	left:14%;
	top:20%;
	height:70%;
	border-radius:4px;
}

@keyframes grow{
	100%{
		left:9%;
		height:76%;
	}
}

.backcard img:hover{
	animation-name:grow;
	animation-duration:1s;
	animation-fill-mode:forwards;
	border: 3px solid gold;
}	

.maintxt *{
	position:absolute;
	border:2px solid rgba(112, 128, 144, 0.525);
	border-radius:2px;
	height:40%;
	top:20%;
	left:74%;
	width:25%;
	overflow-y:clip;
}
.maintxt *:hover{
	overflow-y:scroll;
}


.textpreviews{
	position:absolute;
	display:flex;
	justify-content:flex-start;
	flex-direction:column;
	left:74%;
	height:38%;
	bottom:1%;
	width:25%;
}

.textpreviews >div{
	border:2.5px solid rgba(112, 128, 144, 0.525);
	border-radius:2px;
	overflow-y:clip;
	left:74%;
	height:1%;
}

.nexttxt *{
	/*color:red;*/
	height:1%;
}

.prevtxt *{
	/*color:blue;*/
	height:1%;
}

.textpreviews div{
	flex-shrink:4;
	flex-grow:1;
}

.textpreviews div:hover{
	flex-shrink:1;
	flex-grow:4;
}

a{
	text-decoration:none;
	color:black;
}

.lowtxt, .lowtxt p {
	display: inline-block;
	position:fixed;
	bottom:0%;
	left:5%;
	right: 0%;
	color: rgb(175,175,175);
	transform: rotateY(155555deg);
}