.maintxt *{
	position:absolute;
	border:2px solid rgba(112, 128, 144, 0.525);
	border-radius:2px;
	height:40%;
	top:20%;
	left:24%;
	width:50%;
	overflow-y:clip;
}
a .maintxt *:hover{
	overflow-y:scroll;
}


.textpreviews{
	position:absolute;
	display:flex;
	justify-content:flex-start;
	flex-direction:column;
	left:24%;
	height:36%;
	bottom:3%;
	width:50%;
}

.textpreviews >div{
	border:2.5px solid rgba(56, 64, 72, 0.75);
	border-radius:2px;
	overflow-y:clip;
	left:24%;
	height:1%;
}

.nexttxt *{
	/*color:red;*/
	height:1%;
}

.prevtxt *{
	/*color:blue;*/
	height:1%;
}

.textpreviews div{
	flex-shrink:4;
	flex-grow:1;
}

.textpreviews div:hover{
	border:2.5px solid rgba(93, 159, 225, 0.75);
	flex-shrink:1;
	flex-grow:4;
}

a{
	text-decoration:none;
	color:black;
}

.lowtxt, .lowtxt p {
	display: inline-block;
	position:fixed;
	bottom:0%;
	left:5%;
	right: 0%;
	color: rgb(77, 77, 77);
	transform: rotateY(155555deg);
}
@media screen and (max-width:781px) {
	.backcard *{
		display:none;
	}
	.maintxt *{
		height:400px;
	}
	.textpreviews, .nexttxt, .prevtxt{
		height:100px;
	}
	.lowtxt p, p{
		color:cornsilk;
	}
}